.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Исключение системных и скрытых папок
*.log
*.tmp
*.bak
.DS_Store
Thumbs.db
*.swp
*.lock
*.pid
*.log
*.cache
*.idea/
*.vscode/
*.android/
*.atom/
*.idlerc/
*.oracle_jre_usage/
*.skiko/
AppData/
Contacts/
Documents/
Downloads/
Favorites/
Links/
Music/
OneDrive/
Pictures/
Saved Games/
NTUSER.DAT*

# Игнорирование системных папок и файлов
.android/
.atom/
.bash_history
.gitconfig
.idlerc/
.kivy/
.lesshst
.node_repl_history
.oracle_jre_usage/
.skiko/
.vscode/
AppData/
Contacts/
Documents/
Downloads/
Favorites/
Links/
Music/
NTUSER.DAT*
OneDrive/
Pictures/
Saved Games/
Searches/
Videos/
desktop.ini
npm-cache/
*.exe
*.lnk

.env