#loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #f3f3f3;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Анимация вращения для индикатора */
.spinner {
  border: 16px solid #f3f3f3; /* Светлый фон */
  border-top: 16px solid #dba134; /* Синий цвет вращающейся части */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}